<div class="card">
    <div class="p-3 mb-2 bg-primary-subtle secondary-emphasis">ingrese los siguientes datos</div>
    
    <div class="card-body"> 
        
        <form [formGroup]="formularioDeDatos" (ngSubmit)="enviarDatos()">

       <div class="mb-3">
        <label for="" class="form-label"></label>
        <input
            type="text"
            class="form-control"
            name=""
            formControlName="nombre"
            id=""
            aria-describedby="helpId"
            placeholder="escribe tu nombre completo"
        />
        <div class="mb-3">
            <label for="" class="form-labe"></label>
            <input
                type="email"
                class="form-control"
                name=""
                formControlName="correo"
                id=""
                aria-describedby="helpId"
                placeholder="correo"
            />
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input
                    type="int"
                    class="form-control"
                    name=""
                    formControlName="numero"
                    id=""
                    aria-describedby="helpId"
                    placeholder="numero de telefono"
                />
                
               
        </div>
    </div>
    <div class="mb-3">
        <option selected>seleccione el sercicio que decea</option>
        <select class="form-select" formControlName="especialidad" aria-label="Default select example" >
            
            <option value="laboratorio">laboratorio</option>
            <option value="biopsias">biopsias</option>
            <option value="optica">optica</option>
            
          </select>
        
    </div>
    <div class="mb-3">
        <option selected>selecione el horario que decea</option>
        <select class="form-select" formControlName="horario" aria-label="Default select example">
            
            <option value="8am-10am">8am-10am</option>
            <option value="12am-2pm">12am-2pm</option>
            <option value="4pm-6pm">4pm-6pm</option>
          </select>
        
    </div>
     </div>
                
       <div class="btn-group" role="group" aria-label="Button group name">
        <button
            type="ngSubmit"
            class="btn btn-success"
        >
            agendar
                   </button>
                   
       </div>  
       <div class="btn-group" role="group" aria-label="Button group name">
        <button
            type="button"
            class="btn btn-primary"
        >
            cancelar
                   </button>
       </div>  
        </form>

    </div>
   
</div>

