
<img src="img7.jpg" class="d-block w-100" alt="..." width="350px" height="350px">
<div style="text-align: center; height: 50vh; display: flex; justify-content: center; align-items: center;">
    <div>
      <h1 style="color: #3498db;">nustros servicio de optica</h1>
      <h2 style="color:brown;">«Calidad, atención amable y precios bajos»</h2>
      <p>Nuestro Laboratorio cuenta con más de 20 años de servicio, estamos calificados como centro de referencia de 3er nivel y formamos parte de programas nacionales e internacionales de aseguramiento de la calidad. La sensibilidad humana es nuestra característica</p>
