
<nav class="navbar navbar-expand navbar-dark bg bg-primary">

  <div class="container-fluid ">
    
   
    <img src="img1.jpeg" alt="" width="230" height="100" class="d-inline-block align-text-top">
    <a class="nav-item nav-link active " href="#" aria-current="page"></a>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        servivios
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
        <li><a class="dropdown-item" href="laboratorio">laboratorios</a></li>
        <li><a class="dropdown-item" href="biopsias">biopsias</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="optica">optica</a></li>
      </ul>
    </li>
  <nav class="navbar navbar-dark bg-primary"></nav>
   <a class="nav-item nav-link"routerLink="acercade"> acerca de nosotros</a>
    <a class="nav-item nav-link" routerLink="listar-cita">mostrar cita</a>
    <a class="nav-item nav-link"routerLink="ingresar-datos"> agendar cita</a>
  </div>

</nav>
<div class="container">
  
  <router-outlet></router-outlet>
 
</div>
